[Unit]
Description=Synchronizes the screen settings with xpower.

[Service]
Type=oneshot
ExecStart=/usr/local/bin/xpower
ExecStop=/usr/local/bin/xpower -u

[Install]
WantedBy=multi-user.target
